.homepage {
    text-align: center;
    margin-top: 230px;
}

#table-bordered{
    background-color: #39e7f3;
    z-index: 2;
}

.footer {
    margin-top: 1rem;
    padding: 0.5 rem;
    background-color: #f595e8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
}

.footer-paragraph {
    text-align: center;
    margin-top: 3px;
}

.loginText:hover {
cursor: pointer;
background-color: yellow;
border-radius: 30%;
}

#contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-top: 90px;
}

#register-button {
   margin-top: 150px; 
}

#emailHelp{
    color: blue;
    font-weight: bold;
}

#register-form {
   margin-top: 140px;
   margin-left: 500px;
   text-align: center;
}

#login-form {
    margin-top: 140px;
    margin-left: 500px;
    text-align: center;
}